{#{% extends "registration/registration_base.html" %}#}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.css" />#}

{% load i18n %}
{#{% block title %}{% trans "Login" %}{% endblock %}#}
{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

{% if form.errors %}
<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
{% endif %}
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>


    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.css" />

    <style type="text/css" media="screen">
        h4,h5,p,a{
            font-family: 'Ubuntu', sans-serif;

        }
    </style>

    <nav class = "navbar navbar-inverse" role = "navigation">

   <div class = "navbar-header">
      <a class = "navbar-brand" href = "#">Hashit Compile</a>
   </div>

   <div>
      <ul class = "nav navbar-nav">
         <li class ><a href = "#">ingenuITy</a></li>
         <li><a href = "#">IDE</a></li>

         <li><a href = "#">Contest</a></li>

      </ul>
   </div>

</nav>

<form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
<table>
<tr>
    <td>{% trans form.username.label_tag %}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{% trans form.password.label_tag %}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
    <a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>

<input type="submit" value="{% trans "login" %}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
